/* General */

.game {
    display: flex;
}

.left {
    height: 85vh;
    width: 85vh;
}

.right {
    margin-left: 20px;
}

h1 {
    margin-left: 50px;
}

/* Map */

#map {
    width: 100%;
}

#personnage {
    position: absolute;
}

/* EDT */

#affichageEDT {
    height: 75%;
    width: 20vw;
}

#affichageEDT > div {
    height: 15vh;
    width: 100%;
    margin: 1vh;
    border: solid black 1px;
    text-align: center;
}

/* Clock */

#clock {
    height: 15%;
    width: 100%;
    border: grey 1vh solid;
    font-size: 75px;
    color: green;
    background-color: black;
    text-align: center;
}

/* Exercice */

#exercice {
    background-color: black;
    color: white;
}
